body{
	font-family: 'Roboto', Tahoma, Verdana, sans-serif;
	font-size: 1.15em;
	background: #fff;
    color: #000;
	margin: 0;
	background: linear-gradient(225deg, #fff 32%, #000 61%);
	background: url(/images/bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner{
	width: 100%;
	background: #fff;
}

.banner_anchor{

}

.banner_image{
	width: 100%;
}

nav{
    width: 100%;
	position: sticky;
	top: 0;
    z-index: 1000;
}

/*.nav_ul{
    width: 100%;
    height: 10%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
}

.nav_li{
    float: left;
}

.nav_li .nav_anchor{
    display: block;
    color: #fff;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

.nav_li .nav_anchor:hover{
    display: block;
    color: #000;
    background: #fff;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

.nav_li_right{
    float: right;
}

.nav_li_right .nav_anchor_right{
    display: block;
    color: #fff;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

.nav_li_right .nav_anchor_right:hover{
    display: block;
    color: #000;
    background: #fff;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

.nav_active{
    display: block;
    color: #000;
    background: #fff;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}*/

.topnav{
	background: #000;
	overflow: hidden;
}

.topnav a{
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 18px;
	text-decoration: none;
}

.topnav a:hover{
	background: #fff;
	color: #000;
}

.topnav a.active{
	background: #fff;
	color: #000;
}

.topnav .icon{
	display: none;
	color: #ff8000;
}

@media screen and (max-width: 600px) {

	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}

}

@media screen and (max-width: 600px) {

	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

}

.main{
	width: 95%;
	margin: auto;
	border: 4px solid #000;
	border-top: none;
	background: #fff;
}

.head{
	font-size: 5vw;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial Black, sans-serif;
	margin: 0;
	padding: 0;
}

.sub_head{
	font-family: Trebuchet MS, 'Roboto', Tahoma, Verdana, sans-serif;
	font-size: 2.5vw;
	text-align: center;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 600px) {

	.head{
		font-size: 7.5vw;
		text-transform: uppercase;
		text-align: center;
		font-family: Arial Black, sans-serif;
		margin: 0;
		padding: 0;
	}

	.sub_head{
		font-family: Trebuchet MS, 'Roboto', Tahoma, Verdana, sans-serif;
		font-size: 5vw;
		text-transform: uppercase;
		text-align: center;
		margin: 0;
		padding: 0;
	}

}

.left_paragraph_div{
	padding-bottom:23%;
	margin-left: 1%;
}

.right_paragraph_div{
	padding-bottom:23%;
	margin-right: 1%;
}

.left_paragraph{
	margin-left: 1%;
	margin-right: 10%;
	text-align: left;
}

.right_paragraph{
	margin-left: 10%;
	margin-right: 1%;
	text-align: right;
}

.center_paragraph{
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
}

.warning_paragraph{
	margin: auto;
	text-align: center;
	color: #f00;
	background: #c5c5c5;
	font-weight: 700;
	border: 4px solid #c5c5c5;
	text-transform: uppercase;
	width: max-content;
}

.bottom_bar{
	background: #fff;
	width: 85%;
	margin: auto;
	border: 4px solid #000;
}

.link:link{
    color: #fff;
	background: #000;
	border: 2px solid #000;
	border-left: 4px solid #000;
	font-weight: 700;
    text-decoration: none;
}

.link:visited{
    color: #000;
	background: #555;
	border: 2px solid #555;
	border-left: 4px solid #555;
	font-weight: 700;
    text-decoration: none;
}

.link:active{
    color: #000;
	background: #ff8000;
	border: 2px solid #ff8000;
	border-left: 4px solid #ff8000;
	font-weight: 700;
    text-decoration: none;
}

.link:hover{
    color: #000;
	background: #ff8000;
	border: 2px solid #ff8000;
	border-left: 4px solid #ff8000;
	font-weight: 700;
    text-decoration: none;
}

.paragraph_image_left{
	width: 25%;
	float: left;
	user-select: none;
	border: 4px solid #000;
	margin-right: 11px;
}

.paragraph_image_right{
	width: 25%;
	float: right;
	user-select: none;
	border: 4px solid #000;
	margin-left: 11px;
}

@media screen and (max-width: 600px) {
	.paragraph_image_left{
		width: 95%;
		float: center;
		user-select: none;
		border: 4px solid #000;
		margin-right: 11px;
	}

	.paragraph_image_right{
		width: 95%;
		float: center;
		border: 4px solid #000;
		margin-left: 11px;
	}
}

.mtbnamea:link{
    color: #ff8000;
    text-decoration: none;
	transition-duration: 0.05s;
    -webkit-transition-duration: 0.05s;
}

.mtbnamea:visited{
    color: #ff8000;
    text-decoration: none;
	transition-duration: 0.05s;
    -webkit-transition-duration: 0.05s;
}

.mtbnamea:active{
    color: #ff8000;
    text-decoration: none;
	transition-duration: 0.05s;
    -webkit-transition-duration: 0.05s;
}

.mtbnamea:hover{
    color: #000;
    text-decoration: none;
}

.mtbname{
    margin-left: 1%;
	margin-right: 1%;
	text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
}

.mtbnameimgimg{
	width: 20%;
	border: 4px solid #000;
}

.mtbnameimgimg_404{
	width: 20%;
	border: 4px solid #000;
	filter: url(~"data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: gray;
}

.mtbimage{
    border: 4px solid #000;
    width: 15%;
}

@media screen and (max-width: 600px) {
	.mtbnameimgimg{
		width: 70%;
		border: 4px solid #000;
	}

    .mtbimage{
        border: 4px solid #000;
        width: 50%;
    }

	.mtbnameimgimg_404{
		width: 70%;
		border: 4px solid #000;
		filter: url(~"data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: gray;
	}
}

.mtbnameimga:link{
    margin-left: 1%;
	margin-right: 1%;
	text-align: center;
    font-weight: bolder;
    color: #ff8000;
	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    text-decoration: none;
	transition-duration: 0.05s;
    -webkit-transition-duration: 0.05s;
}

.mtbnameimga:visited{
    margin-left: 1%;
	margin-right: 1%;
	text-align: center;
    font-weight: bolder;
    color: #ff8000;
	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    text-decoration: none;
	transition-duration: 0.05s;
    -webkit-transition-duration: 0.05s;
}

.mtbnameimga:active{
    margin-left: 1%;
	margin-right: 1%;
	text-align: center;
    font-weight: bolder;
    color: #ff8000;
	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    text-decoration: none;
	transition-duration: 0.05s;
    -webkit-transition-duration: 0.05s;
}

.mtbnameimga:hover{
    margin-left: 1%;
	margin-right: 1%;
	text-align: center;
    font-weight: bolder;
    color: #000;
	text-shadow: 1px 0 0 #ff8000, 0 1px 0 #ff8000, -1px 0 0 #ff8000, 0 -1px 0 #ff8000;
    text-decoration: none;
}

.mtbnameimg{
	position: relative;
	text-align: center;
}

.mtbnametext{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-size: 1.9vw;
}

.mtbnametext_404{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-size: 1.9vw;
	color: #900;
}

#topButt{
    display: none;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 99;
    border: 4px solid #000;
    outline: none;
    background: #fff;
    cursor: pointer;
    padding: 15px;
    font-size: 1.3em;
}

#topButt:hover{
    background-color: #000;
    border: 4px solid #fff;
    color: #fff;
}

::selection{
	background: #000;
	color: #fff;
}

::-moz-selection{
	background: #000;
	color: #fff;
}

::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-track{
	background: #555;
}

::-webkit-scrollbar-thumb{
	background: #000;
}

::-webkit-scrollbar-thumb:hover{
	background: #000;
}
